body { margin: 0; overflow: hidden; background-color: #000; }








#loading_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    
    z-index: 3000;
}

#loading_overlay_img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    display: block;
    z-index: 3001;
}



.hide {
    opacity: 0;
    transition: opacity .5s ease-out;
}

.show {
    opacity: 1;
    transition: opacity .5s ease-out;
}