{% autoescape true %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Suman Saurabh</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="Suman Saurabh">



        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <meta name="description" content="Suman Saurabh online portfolio page" />
        <meta name="keywords" content="portfolio, Suman, Saurabh, stanbol-1007, GSoC, appengine-portfolio" />

        

        <!--CSS styles-->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">  
        <link rel="stylesheet" href="css/perfect-scrollbar-0.4.5.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/style.css">
        <link id="theme-style" rel="stylesheet" href="css/styles/default.css">

        
        <!--/CSS styles-->
       
        <!--Javascript files-->
        
        <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="js/TweenMax.min.js"></script>
        <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
        
        <script type="text/javascript" src="js/modernizr.custom.63321.js"></script>
        <script type="text/javascript" src="js/jquery.dropdownit.js"></script>

        <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
        <script type="text/javascript" src="js/ScrollToPlugin.min.js"></script>

        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>

        <script type="text/javascript" src="js/masonry.min.js"></script>

        <script type="text/javascript" src="js/perfect-scrollbar-0.4.5.with-mousewheel.min.js"></script>

        <script type="text/javascript" src="js/magnific-popup.js"></script>
        
        <script type="text/javascript" src="js/custom.js"></script>


        <!--/Javascript files-->


        

    </head>
    <body>

        <div id="wrapper">
            <a href="#sidebar" class="mobilemenu"><i class="icon-reorder"></i></a>

            <div id="sidebar">
                <div id="main-nav">
                    <div id="nav-container">
                        <div id="profile" class="clearfix">
                            <div class="portrate hidden-xs"></div>
                            <div class="title">
                                <h2>Suman Saurabh</h2>
                                <h3><a href="http://www.lnmiit.ac.in">Full Stack Developer</a> </h3>
                            </div>
                            
                        </div>
                        <ul id="navigation">
                            <li>
                              <a href="#biography">
                                <div class="icon icon-user"></div>
                                <div class="text">About Me</div>
                              </a>
                            </li>  
                            
                            <li>
                              <a href="#internship">
                                <div class="icon icon-book"></div>
                                <div class="text">Internship</div>
                              </a>
                            </li> 
                            
                            <li>
                              <a href="#projects">
                                <div class="icon icon-tasks"></div>
                                <div class="text">Projects</div>
                              </a>
                            </li> 

                            <li>
                              <a href="#blogs">
                                <div class="icon icon-pushpin"></div>
                                <div class="text">Blogs</div>
                              </a>
                            </li>

                            

                            <li>
                              <a href="#contact">
                                  <div class="icon icon-calendar"></div>
                                  <div class="text">Contact Me @</div>
                              </a>
                            </li>

                            <li class="external">
                              <a href="#">
                                  <div class="icon icon-download-alt"></div>
                                  <div class="text"><a href="resume/suman_saurabh.pdf" target="_blank"> Download CV</a></div>
                              </a>
                            </li>
                        </ul>
                    </div>        
                </div>
                
                <div class="social-icons">
                    <ul>
                        <li><a href="https://github.com/sumansaurabh" target="_blank"><i class="icon-github"></i></a></li>
                        <li><a href="https://twitter.com/SumanSaurabh_" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li><a href="https://in.linkedin.com/in/ssumansaurabh/" target="_blank"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>    
            </div>

            <div id="main">
            
                <div id="biography" class="page home" data-pos="home">
                    <div class="pageheader" style="z-index: 1;">
                        <div class="headercontent">
                            <div class="section-container">
                                
                                <div class="row">
                                    <div class="col-sm-2 visible-sm"></div>
                                    <div class="col-sm-8 col-md-5">
                                        <div class="biothumb">
                                            <img alt="image" src="img/saurabh.jpg"  class="img-responsive">
                                            
                                            
                                               
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix visible-sm visible-xs"></div>
                                    <div class="col-sm-12 col-md-7">
                                        <h3 class="title">About Me</h3>
                                        <p>I am a final year student doing major in Computer Science and Engineering at LNMIIT, Jaipur.</p>

										<p>Currently I am doing B. Tech Project on Analysis of Agricultural Data using MapReduce technique in Hadoop under the esteemed guidance of Dr. Ravi Prakash Gorthi.</p>
										<p>I love to build new and different thing. I am acquainted with technologies like Big Data, Semantic Web, Computer Vision, Machine Learning, Artificial Intelligence, Database Management.</p>

										<p>	My Specialties: I love experimenting.</p>
                                    </div>  
                                    
                                </div>
                            </div>        
                        </div>
                    </div>
					
                    <!-- <div class="pagecontents">
                        <div class="section color-1">
                            <div class="section-container">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="title text-center">
                                            <h3>Education</h3>
                                        </div>
                                        <ul class="ul-dates">
                                            <li>
                                                <div class="dates">
                                                    <span>Present</span>
                                                    <span>2011</span>
                                                </div>
                                                <div class="content">
                                                    <h4>Computer Science and Engineering <strong style="float: right;">CPI:- 7.17/10</strong></h4>
                                                    <p><em>LNM Institute of Inforamtion Technology</em>, Bachelor of Technology</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dates">
                                                    <span>2010</span>
                                                    <span>2008</span>
                                                </div>
                                                <div class="content">
                                                    <h4>Class XII (Higher Secondary) <strong style="float: right;">Percentage:- 76.67%</strong></h4>
                                                    <p><em>Mount Assisi School, Bhagalpur</em>, ICSE</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="dates">
                                                    <span>2008</span>
                                                    <span>2007</span>
                                                </div>
                                                <div class="content">
                                                    <h4>Class X (Secondary) <strong style="float: right;">Percentage:- 86.1%</strong></h4>
                                                    <p><em>Mount Assisi School, Bhagalpur</em>, ICSE</p>
                                                </div>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                        
                                </div>    
                            </div>
                                
                        </div>

                        <div class="section color-2">
                            <div class="section-container">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="title text-center">
                                            <h3>Achievements</h3>
                                        </div>
                                        <ul class="timeline">
                                                    
                                            <li class="open">
                                                <div class="date">May 2014</div>
                                                <div class="circle"></div>
                                                <div class="data">
                                                    <div class="subject">Selected for Google Summer Code - 2014</div>
                                                    <div class="text row">
                                                        <div class="col-md-2">
                                                            <img alt="image" class="thumbnail img-responsive" src="img/achievement/p1.png" >
                                                        </div>
                                                        <div class="col-md-10">
                                                           <p>Was one among 4,420 candidate across the world on the opensource project- Apache Stanbol.</p>
                                                           <p style="color:red">Here is the link of the proposal <a href="https://www.google-melange.com/gsoc/project/details/google/gsoc2014/perfectus/5741031244955648" target="_blank">[1]</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">March 2014</div>
                                                <div class="circle"></div>
                                                <div class="data">
                                                    <div class="subject">2nd Prize- 'Strive': IIT Kanpur</div>
                                                    <div class="text row">
                                                        <div class="col-md-2">
                                                            <img alt="image" class="thumbnail img-responsive" src="img/achievement/p2.jpg" >
                                                        </div>
                                                        <div class="col-md-10">
                                                            'TECHKRITI- 2014'- IIT Kanpur tech fest organized a Hardware cum Software Contest 'Strive'. My team presented project <a href="http://gstanwar.blogspot.in/2014/01/avatar-goggle-by-which-disabledhand-and.html">AVATAR</a> in the contest.
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="date">Feburary 2013</div>
                                                <div class="circle"></div>
                                                <div class="data">
                                                    <div class="subject">1st Position: Inter College Chess Tournament, IIT Jodhpur</div>
                                                    <div class="text row">
                                                        <div class="col-md-2">
                                                            <img alt="image" class="thumbnail img-responsive" src="img/achievement/p3.jpg" >
                                                        </div>
                                                        <div class="col-md-10">
                                                            'VARCHAS- 2013'- IIT Jodhpur Sports fest organized CHESS in which my team secured 1st position. 
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                            

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                            
                    </div> -->
                </div>

                <div id="internship" class="page">
                    <div class="pageheader">

                        <div class="headercontent">

                            <div class="section-container">
                                <h2 class="title">Internship</h2>
                            
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>I did my research based project on Scene Text recognition in IIIT Hyderabad in 2nd year, though project did never complete but it provided a platform for me to work more on technical stuff. The coming year I was selected for Google Summer Code 2014 and I learnt hell lot of thing in it. More importantly I learnt how to ask questions in a opensource community.</p>
                                        <p>Working on a big project Stanbol for such a big organization Apache Software Foundation requires you to have extensive information on the work that is about to be done. Often small misleading concepts greatly hampers the working of module and while sorting these issues you learn to <strong>Code</strong> , you learn to <strong> Document</strong> and <strong>Debug</strong>  them. </p>
                                        
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagecontents">
                       
                        <div class="section color-2">
                            <div class="section-container">
                                <div class="title text-center">
                                    <h3>Internship Projects</h3>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="ul-withdetails">
                                            <li>
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="image">
                                                            <img alt="image" src="img/projects/p3.png"  class="img-responsive">
                                                            <div class="imageoverlay">
                                                                <i class="icon icon-search"></i>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-9">
                                                        <div class="meta">
                                                            <h3>Speech to Text Engine - <a href="https://stanbol.apache.org/">Apache Stanbol</a> </h3>
                                                            <p>An OSGi module built in Maven framework for processing audio data. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="details">
                                                    <h3>Mentor: <a href="https://github.com/akuckartz" target="_blank">Andreas Kuckartz</a> </h3>
                                                    <h3> Abstract:<strong style="float: right">May - August, 2014</strong></h3>
                                                    <p>The proposed project is related to the issue <a href="https://issues.apache.org/jira/browse/STANBOL-1007">STANBOL- 1007</a>  for the development of enhancement engine for open source project Apache Stanbol.</p>
                                                    <p>Stanbol is a web tool that provides reusable components for semantic content management. It provides a Semantic services for <a href="https://en.wikipedia.org/wiki/Content_management_system">Content Management System</a> via <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">RESTful</a>  api.
                                                    <p>Developed enhancement engine converts speech to text. It uses <a href="http://cmusphinx.sourceforge.net/"> CMU Sphinix</a> library to convert the encoded audio in a media file. ContentItem object provided by Stanbol parses the media file.</p>
                                                    <p>Currently media data is formatted to compatible format using <a href="https://www.ffmpeg.org/">FFMPEG</a> libraries. Text  is extracted from the audio and Semantically Enhanced keeping track of the temporal position of the extracted text. Sphinix uses acoustic model and language model to map the utterances with the text, so the engine will also provide   facility of uploading acoustic model and language model using DataFileProvider service.</p>

                                                    <p>The GSOC project will allow the development of Phonetic based EntityLinking(<a href="https://issues.apache.org/jira/browse/STANBOL-1291">STANBOL- 1291</a>)  engine for the Stanbol.</p>

                                                    <p style="color:red">For more details please visit the link <a href="https://sites.google.com/site/gsoc2014stanbol/">[1]</a>, Github link for developers -> <a href="https://github.com/sumansaurabh/stanbol-1007">[2]</a>: </p>

                                                    <p>Couple of more thing can be entertained on this project, if any body willing to delve more into Stanbol, please contact me asap.</p>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-3">
                                                        <div class="image">
                                                            <img alt="image" src="img/projects/p2.jpg"  class="img-responsive">
                                                            <div class="imageoverlay">
                                                                <i class="icon icon-search"></i>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-9">
                                                        <div class="meta">
                                                            <h3>Probabilistic Representation and Recognition of Historical Text - <a href="http://cvit.iiit.ac.in/" target="_blank">CVIT</a> </h3>
                                                            <p>Optimizing the traditional recognition technique of Scene Text Recognition.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="details">
                                                    <h3>Mentor: <a href="http://www.iiit.ac.in/~jawahar/" target="_blank">Dr. C. V. Jawahar</a> </h3>
                                                    <h3>Abstract: <strong style="float: right">May - June, 2013</strong></h3>
                                                    <p>Project implements the idea of optimizing the traditional recognition techniques used in Scene Text Recognition. The process is implemented using <a href="http://opencv.org/">OpenCV</a> libraries</p>
                                                    <p>Training set used comprised of english word images. Characters are extracted from them abd feature vector is generated on the basis of the paper <a href="ciir.cs.umass.edu/pubfiles/mm-39.pdf">[3].</a></p>
                                                    <p>The feature vector of character images is trained by <a href="http://www.cs.cornell.edu/people/tj/svm_light/svm_multiclass.html">SVM</a> using multiclass classification. SVM link provided in the text were used for multiclass classification as OpenCV do not had that service. Normailsed training values were grouped to form training set of word images. </p>
                                                    <p>Above process achieved efficiency of 77% and is less than other studies.</p>
                                                    <p>Further approach invloved to generation of a candidate window of word images. Get their corresponding word tag and improve the results based on its ngram model. .</p>
                                                    <h3>Result Set:</h3>
													<iframe src="//www.slideshare.net/slideshow/embed_code/40901079" width="800" height="510" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/SumanSaurabh9/precison-1" title="Scene Text Recognition" target="_blank">Scene Text Recognition</a> </strong> from <strong><a href="//www.slideshare.net/SumanSaurabh9" target="_blank">Suman Saurabh</a></strong> </div>
                                                    <p>CVIT word image data set were used for prediction. This project was dropped as the results were not efficient enough to continue. </p>
                                                   
                                                </div>
                                            </li>
                                            
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>

                <div id="projects" class="page">
                    <div class="page-container">
                        <div class="pageheader">
                            <div class="headercontent">
                                <div class="section-container">
                                    
                                    <h2 class="title">Projects</h2>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>This section contains both Academic and Independent projects yet completed. I will be updating this list, so keep yourself posted. </p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="pagecontents">
                            
                            <div class="section color-2" id="filters">
                                <div class="section-container">
                                    <div class="row">
                                        
                                        <div class="col-md-3">
                                            <h3>Filter by type:</h3>
                                        </div>
                                        <div class="col-md-6">
                                            <select id="cd-dropdown" name="cd-dropdown" class="cd-select">
                                                <option class="filter" value="all" selected>All types</option>
                                                <option class="filter" value="aproject">Academic Projects</option>
                                                <option class="filter" value="iproject">Independent Projects</option>
                                                
                                                <!-- <option class="filter" value="report">Reports</option>
                                                <option class="filter" value="tpaper">Technical Papers</option> -->
                                            </select>
                                        </div>
                                        
                                        <div class="col-md-3" id="sort">
                                            <span>Sort by year:</span>
                                            <div class="btn-group pull-right"> 

                                                <button type="button" data-sort="data-year" data-order="desc" class="sort btn btn-default"><i class="icon-sort-by-order"></i></button>
                                                <button type="button" data-sort="data-year" data-order="asc" class="sort btn btn-default"><i class="icon-sort-by-order-alt"></i></button>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>

                            <div class="section color-2" id="pub-grid">
                                <div class="section-container">
                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="pitems">
                                                
                                                <div class="item mix iproject" data-year="2014">
                                                    <div class="pubmain">
                                                        <div class="pubassets">
                                                            
                                                            <a href="#" class="pubcollapse">
                                                                <i class="icon-expand-alt"></i>
                                                            </a>
                                                            <a href="http://gstanwar.blogspot.in/2014/01/avatar-goggle-by-which-disabledhand-and.html" title="External link" target="_blank">
                                                                <i class="icon-external-link"></i>
                                                            </a>
                                                            
                                                            
                                                        </div>

                                                        <h4 class="pubtitle">AVATAR - Assistive Technology for Underprivileged people</h4>
                                                        <div class="pubauthor"><strong>Suman Saurabh, Gajendar Singh Tanwar</strong></div>
                                                        <div class="pubcite"><span class="label label-warning">Independent Project</span> Assistive Technology</div>
                                                        
                                                    </div>
                                                    <div class="pubdetails">
                                                        <h4 style="font-weight: bolder;  text-decoration: underline;">Abstract:</h4>
                                                        <p>Engineered a device Avatar - goggle that helps hand disabled people to interact with their computer. With goggle resides an infra-red light which is tracked by engineered camera. Software takes Camera feed is taken and send it driver that stimulates the feed on mouse cursor. Software and driver uses <strong> TUIO</strong> Protocol to communicate.</p>
                                                        <p>Left Click and Right Click happens by by another infra-red light which glows with peaks in the voice.</p>
                                                        <p>Basic Voice Command recognition facility has also been added to it, it uses <strong>pockephoenix</strong> api’s for command recognition. Command can be used to perform left and right click - single as well as double, opening browser and music players.</p>
                                                        <p><strong>Practical Application:</strong> Devised prototype costs approximately 12$ and is significantly cheaper and better than their counterparts hence can be used alternative to the devices like using brainwaves, eye tracking, e.t.c</p>
                                                        
                                                        <h4 style="font-weight: bolder; text-decoration: underline;">Video Demostration:</h4>
														<p><iframe width="560" height="315" src="//www.youtube.com/embed/O_YvwdDbekU" frameborder="0" allowfullscreen></iframe></p>
                                                        
                                                    </div>
                                                </div>


                                                <div class="item mix aproject" data-year="2014">
                                                    <div class="pubmain">
                                                        <div class="pubassets">
                                                            
                                                            <a href="#" class="pubcollapse">
                                                                <i class="icon-expand-alt"></i>
                                                            </a>
                                                            <a href="hhttps://drive.google.com/file/d/0B-WoIIv6K-Jzb05iZjc1ZjZlbjFEVzJyTzJ0UllqQ3kwWWNn/view?usp=sharing" title="External link" target="_blank">
                                                                <i class="icon-external-link"></i>
                                                            </a>
                                                            
                                                            
                                                        </div>

                                                        <h4 class="pubtitle">Knowledge Base Compiler</h4>
                                                        <div class="pubauthor"><strong>Suman Saurabh, Utkarsh Jain, Ashish Soni and Shirish Singh</strong></div>
                                                        <div class="pubcite"><span class="label label-success">Academic Project: </span> Artificial Intelligence</div>
                                                        
                                                    </div>
                                                    <div class="pubdetails">
                                                        <h4 style="font-weight: bolder;  text-decoration: underline;">Abstract:</h4>
                                                        <p>
                                                        Developed Rule Based Engine in <strong>JAVA</strong> that performs <strong> simple lexical analysis </strong>on rules, parses them for facts and perform deduction using Forward or Backward Chaining inference engine. </p>
                                                        <p><strong> Forward Chaining </strong>Inference Engine evaluates the parsed facts and derive the goal from the rules present in database. <strong>Backward Chaining </strong>inference Engine is used to detect the validity of goal by asking about the validity of its corresponding basic facts. </p>
                                                        <p>Output for the inferences drawn are displayed in graphical tree format.</p>
                                                    </div>
                                                </div>
                                                <div class="item mix iproject" data-year="2014">
                                                    <div class="pubmain">
                                                        <div class="pubassets">
                                                            
                                                            <a href="#" class="pubcollapse">
                                                                <i class="icon-expand-alt"></i>
                                                            </a>
                                                            <a href="https://github.com/sumansaurabh/AngelApi" title="External link" target="_blank">
                                                                <i class="icon-external-link"></i>
                                                            </a>
                                                            
                                                            
                                                        </div>

                                                        <h4 class="pubtitle">AngelApi Job extractor</h4>
                                                        <div class="pubauthor"><strong>Suman Saurabh</strong></div>
                                                        <div class="pubcite"><span class="label label-warning">Independent Project</span> Google App Engine, Python</div>
                                                        
                                                    </div>
                                                    <div class="pubdetails">
                                                        <h4 style="font-weight: bolder;  text-decoration: underline;">Abstract:</h4>
                                                        <p>This web application is a quick hack developed to get list of particular type of  jobs using AngelList api‘s. The AngelList Bot basically gets all startups given an input city (e.g. NYC) and keyword,  than checks AngelList jobs available. </p> 
                                                        <p><strong>Google NoSQL </strong> database is used to hold the information of Keyword, Location tags to the coresponding Job id's. For a query a list of job ids are retrieved and information is fetched from AngelList Sever.</p>
                                                        <p>AngelList api's lags to fetch results in real-time, so various google app engine services are used like memcache, to meet the real time needs.</p>
                                                        <p style="color:red ">Demo link: <a href="http://angelapi-001.appspot.com">[1]</a></p>
                                                    </div>
                                                </div>


                                                <div class="item mix aproject" data-year="2014">
                                                    <div class="pubmain">
                                                        <div class="pubassets">
                                                            
                                                            <a href="#" class="pubcollapse">
                                                                <i class="icon-expand-alt"></i>
                                                            </a>
                                                            <a href="https://drive.google.com/file/d/0B-WoIIv6K-JzcVVUZHFUeHZoRGc/view?usp=sharing" title="External link" target="_blank">
                                                                <i class="icon-external-link"></i>
                                                            </a>
                                                            
                                                            
                                                        </div>

                                                        <h4 class="pubtitle">Student Grading Portal (MIS)</h4>
                                                        <div class="pubauthor"><strong>Suman Saurabh,  Shivam Prakash, Sunil Agarwal, Ankit Chaudhary, Anirag Kanodia</strong></div>
                                                        <div class="pubcite"><span class="label label-success">Academic Project</span> Software Engineering and Project Management.</div>
                                                        
                                                    </div>
                                                    <div class="pubdetails">
                                                        <h4 style="font-weight: bolder;  text-decoration: underline;">Abstract:</h4>
                                                        <p>This software system is tailored on MVC class pattern in PHP. It was an attempt to automate the traditional gradebook used in LNMIIT. Model has three portals <strong>Faculty</strong>, <strong>Student</strong> and <strong>Registrar</strong>. </p>
                                                        <p>The following project has been part of LNMIIT software engineering paper. Development of the system involves most of the software eingieering techniques like SRS, UML, UCAD diagrams, e.t.c. Please use the links if you want deep details</p>
                                                        <h4 style="font-weight: bolder;  text-decoration: underline;">Workings:</h4>

                                                        <ul>

                                                        <li><p>Faculty</p>
                                                        <ul>
                                                        	<li>Faculty can enter the marks of students into <strong>dynamic (javascript) </strong>  table alloted to them and corresponding marks will reflected to student page. </li>
                                                        	<li>Automatic Grade sheet generation using relative grading algorithm developed by our team with additional feature of customising the grades.</li>
                                                        	<li>Animated Pie-chart genration for student vs grades and line graph to view each student performance feature is made avilabe using Open FLash Chart libraries</li>
														</ul>
                                                        </li>
                                                        <li>
														<p>Student</p>
                                                        <ul>
                                                            <li>
                                                                Student can view and edit his personal details.
                                                            </li>
                                                            <li>View the marks for courses registered in present semester.</li>
                                                            <li>Generate overall grade sheet for the courses completed by him.</li>
                                                            <li>Generate grade sheet for any particular semester.</li>
                                                        </ul>
                                                        </li>
                                                        <li>
														<p>Registrar</p>
                                                        <ul>
                                                            <li>Registrar keeps track for the courses offered to student and faculty.</li>
                                                            <li>Submits the final grades of the student to database.</li>
                                                        </ul>
                                                        </li>
                                                        </ul>
                                                        <h4 style="font-weight: bolder;  text-decoration: underline;">SRS:</h4>
                                                        <p>
                                                            <iframe src="//www.slideshare.net/slideshow/embed_code/40954981" width="800" height="310" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/SumanSaurabh9/srs-for-student-database-management-system" title="SRS for student database management system" target="_blank">SRS for Student Database Management System</a> </strong></div>
                                                        </p>    
														<p>Will soon uplaod the demo link of the project</p>
														
                                                    </div>
                                                </div>

                                                
                                                <div class="item mix aproject" data-year="2012">
                                                    <div class="pubmain">
                                                        <div class="pubassets">
                                                             <a href="#" class="pubcollapse">
                                                                <i class="icon-expand-alt"></i>
                                                            </a>
                                                            <a href="" title="External link" target="_blank">
                                                                <i class="icon-external-link"></i>
                                                            </a>
                                                            
                                                            
                                                        </div>

                                                        <h4 class="pubtitle">Two Pass Assembler</h4>
                                                        <div class="pubauthor"><strong>Suman Saurabh, Subodh Rawani</strong>,  </div>
                                                        <div class="pubcite"><span class="label label-success">Academic Project</span> Computer Organization  and Architecture</div>
                                                        
                                                    </div>
                                                    <div class="pubdetails">
                                                        <h4 style="font-weight: bolder;  text-decoration: underline;">Abstract:</h4>
                                                        <p>Formulated Instruction Set Architecture (ISA) for a 16 bit machine in C and built a Two Pass Assembler for it. First Pass generates symbol table, Second Pass converts symbol into corresponding binary format using the provided ISA.</p>
                                                    </div>
                                                </div>

                                           

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div id="blogs" class="page">
                    <div class="pageheader">
                        <div class="headercontent">
                            <div class="section-container">
                                
                                <h2 class="title">My Blogs</h2>
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>I am not a vivid writer but I like to share things to world and mostly technical. Here is one of my blog, feel free to comment.</p>                                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagecontents">
                        <div class="section color-1">
                            <div class="section-container">
                                <div class="row">
                                    <div class="col-md-12">
                                        
                                        <ul class="ul-withdetails">
                                            <li>
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-3">
                                                        <a href="https://ssumansaurabh.blogspot.in" target="_blank">
                                                        <div class="image">
                                                            <img alt="image" src="img/blogs/1.jpg"  class="img-responsive">
                                                            <div class="imageoverlay">
                                                                <i class="icon icon-search"></i>
                                                            </div>

                                                        </div>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-6 col-md-9">
                                                        <div class="meta">
                                                            <a href="https://ssumansaurabh.blogspot.in" target="_blank"><h3>Let's Make world a Better place to Live. </h3></a>
                                                            <p>'Avatar', one of the cheapest way to control PC for hand disabled people. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="contact" class="page stellar">
                    <div class="pageheader">
                        <div class="headercontent">
                            <div class="section-container">
                                
                                <h2 class="title">Contact Me @</h2>
                            
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>I will be happy to assist on any technical matters. Please feel free to contact me.</p>
                                        <p>This website is made in Google- App engine using Python. I have assembled the my content with this template. Source code can be downloaded form the link <a href="https://sourceforge.net/projects/portfolioappengine/">[1]</a>. Use it for your own purpose.</p><p>Website uses app-engine mail facility, good for newbies. Experiment to make it better.</p>                              
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="list-unstyled">
                                            
                                            <li>
                                                <strong><i class="icon-envelope"></i>&nbsp;&nbsp;</strong>
                                                <span><a href="mailto:info@suman-saurabh.appspot.com" target="_blank">info@suman-saurabh.appspot.com</a></span>
                                            </li>
                                            <li>
                                                <strong><i class="icon-twitter"></i>&nbsp;&nbsp;</strong>
                                                <span><a href="https://twitter.com/SumanSaurabh_" target="_blank">#SumanSaurabh_</a></span>
                                            </li>
                                            <li>
                                                <strong><i class="icon-linkedin-sign"></i>&nbsp;&nbsp;</strong>
                                                <span><a href="https://in.linkedin.com/in/ssumansaurabh/" target="_blank">in.linkedin.com/in/ssumansaurabh</a></span>
                                            </li>
                                            <li>
                                                <strong><i class="icon-github-sign"></i>&nbsp;&nbsp;</strong>
                                                <span><a href="https://github.com/sumansaurabh" target="_blank">github.com/sumansaurabh</a></span>
                                            </li>
                                            <li>
                                            	<strong><img src="img/hackerrank.png" height="15" width="15">&nbsp;&nbsp;</strong>
                                            	<span><a href="https://www.hackerrank.com/perfectus" target="_blank">HackerRank</a></span>
                                            </li>
                                             <li>
                                            	<strong><img src="img/spoj.jpg"  height="15" width="15">&nbsp;&nbsp;</strong>
                                            	<span><a href="http://www.spoj.com/users/perfectus/" target="_blank">Spoj</a></span>
                                            </li>
                                           
                                        </ul>    

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagecontents">
                        
                        <div class="section color-1">
                            <div class="section-container">
                                <div class="row">
                                    <div id="contact_form">
                                    <div class="col-md-12">
                                        <h2 class="title">Send a Message <h4>(Please Sign in to 'Google' account then press 'Submit')</h4></h2>
                                        
										
											<form name="contact">
												<fieldset class="account-info">

                    								<label>
                      									Subject
                      									<input type="text" id="subjectid" required="required" placeholder="Subject">
                    								</label>
						 	                	</fieldset>
                  		 						<fieldset class="account-info">
		                  							<label>
                      									Your Message
                      									<textarea id="messageid" required="required"  rows="4" placeholder="Enter your message"></textarea>

                    								</label>
	        					            	</fieldset>
                   								<fieldset class="account-action">
	                      							<input class="btn" id="subbut" type="submit" name="submit" value="Submit">
                      									
                    							</fieldset>
											</form>
										
                


                                       
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                
                <div id="overlay"></div>
            
            </div>
        </div>
 		<script>
  			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  		ga('create', 'UA-56307973-1', 'auto');
  		ga('send', 'pageview');

		</script>

    </body>
</html>
{% endautoescape %}