<section class="container panel blog-card" data-section-name="blog" >
  <span class="s1" style="transform: translateX( -15% ) translateY( 90% ) rotate( -8deg ); opacity: 0.2">blog</span>
  <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 ">
          <div class="fond">
            <div class="card">
              <div class="thumbnail"><img class="left" src="/img/gap.png"/></div>
              <div class="right">
                <h1>Serving Static Website</h1>
                <div class="tag"><h2>GAP</h2></div>
                <div class="tag"><h2>Static page hosting</h2></div>
                <div class="separator"></div>
                <p>You’ve put in all the hard work of creating a static website, blog, you want to get it on the web so people can access its content. But you might be a student, Indian student, or any person who don't have an access to a credit card. I was in a similar situation and I found Google App Engine(GAE) doesn't need credit card to deploy a static website.
                  <br><br><br><br><br><br><br></p>
              </div>
              <div class="itm-date">
                <h6>26, OCT</h6>
                <h5>2014</h5>
              </div>
              <a target="_blank" href="/blogs/serving-static-pages/server_static_website.html">
                <div class="fab"><i class="fa fa-arrow-down fa-3x"></i></div>
              </a> 
            </div>
          </div>
      </div>
     
  </div>
</section>
