<section class="panel home" data-section-name="home">
  <header class="masthead d-flex" id="main-view">
    <div class="container text-center my-auto" id="main-content">
      <h1 class="mb-1" >
      </h1>
        <div>
          <hr class="hr-head">
        </div>
      <div class="masthead-content"></div>
      <div class="masthead-links"></div>
    </div>

    <div class="container text-center my-auto" id="contact-form"  style="display: none;">
      <div class="row">
        <div class="slant-container col-sm-7">
          <div>
            <img src="/img/ssaurabh.jpg">
          </div>
          <div class="contact-details">
            <p>If you want to get in touch,</p>
            <p>talk to me about a project collaboration or just say <span style="color: #6EBB4C;">Hi</span>,</p>
            <p>fill up the awesome form or send an email to</p>
            <p> <span style="color: #00BAF7">ss.sumansaurabh92@gmail.com</span> and let's talk.</p>
          </div>

        </div>
        <div class="slant-container-2 col-sm-5">
          <button class="fa fa-times close-btn" id="contact-close"></button>
          <form>
            <label>
              <input type="text" required/>
              <div class="label-text">Name</div>
            </label>
            <label style="margin-top: -30px">
              <input type="text" required/>
              <div class="label-text">Email</div>
            </label>
            <label>
              <textarea></textarea>
              <div class="label-text">Message</div>
            </label>
            <button class="submit-btn">Submit</button>
          </form>
        </div>
      </div>

    </div>   
  </header>
</section>